<h1>BURGERS!!</h1>

<h2>Burgers that have not been devoured</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form >

  <div class="form-group">
    <label for="burger_name">Burger Name:</label>
    <input type="text" id="burger_name" name="burger_name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured<br>
    <input type="radio" name="devoured" value="0"> Not Devoured
  </div>

  <button class="create-form" type="submit">Add Burger</button>
</form>


<script>
  
  $(function() {
    $(".change-devoured").on("click", function(event) {
      var id = $(this).data("id");
      var newDevoured = !$(this).data("newdevoured");
  console.log(newDevoured)
      var newDevouredState = {
        devoured: newDevoured
      };
  
      $.ajax("/api/burgers/" + id, {
        type: "PUT",
        data: newDevouredState
      }).then(
        function() {
          console.log("Was I eaten", newDevoured);
          // Reload the page to get the updated list
          location.reload();
        }
      );
    });

    $(".create-form").on("click", function(event) {
        // Make sure to preventDefault on a submit event.
        event.preventDefault();
        
        var newBurger = {
          name: $("#burger_name").val().trim(),
          devoured: $("[name=devoured]:checked").val().trim()
        };
       
        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
          }).then(
            function() {
              console.log("created new burger");
              // Reload the page to get the updated list
              location.reload();
            }
          );
           
        });
})
</script>